version: "3"
services:
  # doc:
    # build:
       # context: ./doc
    # command: make clean && make
    # volumes:
      # - ${PWD}/doc:/doc
  # balancer_web:
    # image: tutum/haproxy
    # environment:
      # - STATS_AUTH stats:stats
    # depends:
      # - web
    # ports:
      # - 8080:8080
      # - 1936:1936

  # balancer_web:
    # image: tutum/haproxy
    # environment:
      # - STATS_AUTH stats:stats
    # depends:
      # - web
    # ports:
      # - 8080:8080
      # - 1936:1936
  app:
    image: basestylo/sense_app
    build:
      context: ./app
    environment:
      - INFLUXDB_HOST=influxdb
      - PG_HOST=postgres
      - PG_USERNAME=postgres
    depends_on:
      - postgres
      - influxdb
      - mqtt
    ports:
      - 4000:4000
    user: $UID
    volumes:
      - ./app:/app
    stdin_open: true
    tty: true
    deploy:
      mode: replicated
      replicas: 1
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure

  web:
    image: basestylo/sense_web
    build:
      context: ./web
      target: dev
    user: $UID
    environment:
      - API_HOST=app
    volumes:
      - ./web:/app
    ports:
      - 4200:4200
    depends_on:
      - app
    stdin_open: true
    tty: true
    deploy:
      mode: replicated
      replicas: 1
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure

  postgres:
    image: postgres:9.6.3
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_DB=sense_dev
    ports:
      - 5432:5432
    deploy:
      mode: replicated
      replicas: 1


  influxdb:
    image: influxdb:1.6
    ports:
      - 8086:8086
      - 8083:8083

  mqtt:
    image: basestylo/sense_mqtt
    build:
      context: ./infra/mqtt
      dockerfile: Dockerfile
    environment:
      - MOSQUITTOCONF_auth_opt_backends=http
      - MOSQUITTOCONF_auth_opt_superusers=admin
      - MOSQUITTOCONF_auth_opt_http_hostname=app
      - MOSQUITTOCONF_auth_opt_http_port=4000
      - MOSQUITTOCONF_auth_opt_http_getuser_uri=/mqtt/user
      - MOSQUITTOCONF_auth_opt_http_superuser_uri=/mqtt/superuser
      - MOSQUITTOCONF_auth_opt_http_aclcheck_uri=/mqtt/acl
    ports:
      - 1883:1883
      - 9883:9883
# 1883 for mqtt
# 9883 for websocket

networks:
  default:
    driver: overlay
