version: "3"
services:
  doc:
    build:
       context: ./doc
    command: make clean && make
    volumes:
      - ${PWD}/doc:/doc
  app:
    build:
      context: ./app
    environment:
      - INFLUXDB_HOST=influxdb
      - PG_HOST=postgres
      - PG_USERNAME=postgres
    depends_on:
      - postgres
      - influxdb
    ports:
      - 4000:4000
    user: $UID
    command: bash -c "mix phoenix.server"
    volumes:
      - ./app:/app
    stdin_open: true
    tty: true

  web:
    build:
      context: ./web
    user: $UID
    command: bash -c "npm run start"
    environment:
      - API_HOST=app
    volumes:
      - ./web:/app
    ports:
      - 4200:4200
    depends_on:
      - app
    stdin_open: true
    tty: true

  postgres:
    image: postgres:9.6.3
    ports:
      - 5432

  influxdb:
    image: influxdb:1.6
    ports:
      - 8086:8086
      - 8083:8083

  chronograf:
    image: chronograf:latest
    depends_on:
      - influxdb
    ports:
      - 8888:8888
  mqtt:
    image: eclipse-mosquitto:1.4.12
    ports:
      - 1883:1833
      - 9001:9001
# 1883 for mqtt
# 9001 for websocket
