version: 2
jobs:
  build:
    docker:
      - image: elixir:1.4.4
        environment:
          - MIX_ENV=test
          - PG_USERNAME=sense
          - PG_PASSWORD=sense
          - PG_HOST=localhost
      - image: postgres:9.6.3-alpine
        environment:
          - POSTGRES_USER=sense
          - POSTGRES_PASSWORD=sense
          - POSTGRES_DB=sense_test
    steps:
      - setup_remote_docker
      - run:
          name: "Install base deps"
          command: |
            apt-get update -qq
            apt-get install -y build-essential libpq-dev nodejs locales
            echo "en_US.UTF-8 UTF-8" > /etc/locale.gen
      - run: locale-gen
      - checkout
      - restore_cache:
          keys:
            - v3-mix-build-cache-{{ .Branch }}-{{ checksum "app/mix.lock" }}
            - v3-mix-build-cache-{{ .Branch }}
            - v3-mix-build-cache
            - v3-mix-deps-cache-{{ .Branch }}-{{ checksum "app/mix.lock" }}
            - v3-mix-deps-cache-{{ .Branch }}
            - v3-mix-deps-cache
      - run: mix local.hex --force && mix local.rebar --force 
      - run: cd app && mix deps.get && mix deps.compile
      - save_cache:
          key: v3-mix-build-cache-{{ .Branch }}-{{ checksum "app/mix.lock" }}
          paths: "app/_build"
      - save_cache:
          key: v3-mix-build-cache-{{ .Branch }}
          paths: "app/_build"
      - save_cache:
          key: v3-mix-build-bundle-cache
          paths: "app/_build"
      - save_cache:
          key: v3-mix-deps-cache-{{ .Branch }}-{{ checksum "app/mix.lock" }}
          paths: "app/deps"
      - save_cache:
          key: v3-mix-deps-cache-{{ .Branch }}
          paths: "app/deps"
      - save_cache:
          key: v3-mix-deps-bundle-cache
          paths: "app/deps"
      - run: cd app && mix test
      - store_test_results:
          path: "./app/tmp/reports"
