version: 2
jobs:
  build:
    docker:
      - image: elixir:1.4.4
        environment:
          - MIX_ENV=test
          - PG_USERNAME=sense
          - PG_PASSWORD=sense
          - PG_HOST=localhost
          - INFLUXDB_HOST=localhost
      - image: influxdb:1.2.4
      - image: postgres:9.6.3-alpine
        environment:
          - POSTGRES_USER=sense
          - POSTGRES_PASSWORD=sense
          - POSTGRES_DB=sense_test
    steps:
      - setup_remote_docker
      - run:
          name: "Install base deps"
          command: |
            apt-get update -qq
            apt-get install -y build-essential libpq-dev nodejs locales nano
            echo "en_US.UTF-8 UTF-8" > /etc/locale.gen
      - run: locale-gen
      - run:
          name: Install heroku cli
          command: curl https://cli-assets.heroku.com/install.sh | sh
      - run: heroku --version
      - checkout
      - restore_cache:
          keys:
            - v1-mix-build-cache-{{ .Branch }}-{{ checksum "app/mix.lock" }}
            - v1-mix-build-cache-{{ .Branch }}
            - v1-mix-build-cache
      - restore_cache:
          keys:
            - v1-mix-deps-cache-{{ .Branch }}-{{ checksum "app/mix.lock" }}
            - v1-mix-deps-cache-{{ .Branch }}
            - v1-mix-deps-cache
      - run: mix local.hex --force && mix local.rebar --force
      - run: cd app && mix deps.get
      - save_cache:
          key: v1-mix-deps-cache-{{ .Branch }}-{{ checksum "app/mix.lock" }}
          paths: "./app/deps"
      - save_cache:
          key: v1-mix-deps-cache-{{ .Branch }}
          paths: "./app/deps"
      - save_cache:
          key: v1-mix-deps-bundle-cache
          paths: "./app/deps"
      - run: cd app && mix test
      - save_cache:
          key: v1-mix-build-cache-{{ .Branch }}-{{ checksum "app/mix.lock" }}
          paths: "./app/_build"
      - save_cache:
          key: v1-mix-build-cache-{{ .Branch }}
          paths: "./app/_build"
      - save_cache:
          key: v1-mix-build-bundle-cache
          paths: "./app/_build"
      - run:
          name: Deploy
          command: heroku container:push app
      - run: heroku container:push web
      - run: heroku container:push db
      - run: heroku container:push mqtt
      - store_test_results:
          path: "./app/tmp/reports"
