<div *ngIf="actuator">
  <mat-card class="mat-card">
    <mat-card-title>Actuator details</mat-card-title>
        
    <mat-form-field class="row">
      <input matInput [(ngModel)]="actuator.name" placeholder="Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="actuator.description" placeholder="Description">
    </mat-form-field>
    <mat-form-field>
      <mat-select [(value)]="actuator.type" placeholder="Actuator type">
        <mat-option value="button">Button</mat-option>
        <mat-option value="value">Value</mat-option>
      </mat-select>
    </mat-form-field>    
    <mat-form-field>
      
      <input *ngIf="actuator.type == 'value'" matInput [(ngModel)]="actuator.value" placeholder="Value">
      <mat-slide-toggle *ngIf="actuator.type != 'value'" matInput [(ngModel)]="+ actuator.value" placeholder="Value"></mat-slide-toggle>
      <input hidden matInput [(ngModel)]="actuator.value">
    </mat-form-field>

    <mat-card-actions>
      <button mat-raised-button (click)="goBack()">Back</button>
      <button mat-raised-button color="accent" (click)="save()">Save</button>
      <button mat-raised-button color="warn" (click)="destroy()">Destroy</button>
    </mat-card-actions>
 </mat-card> 
</div>
