<div>
  <mat-card>
    <mat-card-title>Devices</mat-card-title>
    <mat-list>
      <mat-list-item *ngFor="let device of devices">
        <a mat-list-item [routerLink]="['/devices', device.id]" color="primary">
          <mat-icon matListIcon>router</mat-icon>
          <h4 matLine>{{device.name}}</h4>
        </a>
      </mat-list-item>
    </mat-list>
    <span class="done">
      <button mat-fab [routerLink]="['/devices']" color="accent">
        <mat-icon>add circle</mat-icon>
      </button>
    </span>
  </mat-card>
</div>
