<div *ngIf="metric">
  <mat-card>
    <mat-card-title>Metric details</mat-card-title>
        
    <mat-form-field class="row">
      <input matInput [(ngModel)]="metric.name" placeholder="Name" />
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="metric.description" placeholder="Description" />
    </mat-form-field>

    <mat-card-actions>
      <button mat-raised-button (click)="goBack()">Back</button>
      <button mat-raised-button color="accent" (click)="save()">Save</button>
      <button mat-raised-button color="warn" (click)="destroy()">Destroy</button>
    </mat-card-actions>

    <mat-card>
      <h1> Measures</h1>
      <mat-list>
        <mat-list-item *ngFor="let measure of measures">
          <a mat-list-item [routerLink]="['/devices', metric.device_id, 'metrics', metric.id]" color="primary">
            <mat-icon matListIcon>memory</mat-icon>
            <h4 matLine>{{measure.name}}</h4>
            
            <p matLine class="demo-2"> {{measure.value}} </p>
          </a>
        </mat-list-item>
      </mat-list>
    </mat-card>
 </mat-card> 
</div>
